#root {
  margin: 0 auto;
  text-align: center;
  width:100vw;

}

#header {
  display:flex;
  align-items:center;
  background-color:coral;
  width:100%;
  padding:1rem;
}

#header h1{
  font-size:2rem;
  margin-left:0.5rem;
}

#meme-generator{
  max-width:50vw;
  margin:1rem auto;
  display:flex;
  flex-flow:column;
  justify-content:center;
  align-items:center;
}
form#generator-form{
  display:flex;
  flex-flow:column;
  width:40vw;
  margin:1rem auto;
}

.form-line{
  display:flex;
  width:100%;
  
}

.form-line label{
  display:flex;
  flex-flow:column wrap;
  align-items:flex-start;
  font-weight:800;
  flex:1;
  margin-bottom:1rem;

}
.form-line input{
  width:95%;
  height:2rem;
  border:2px solid coral;
  border-radius:5px;
}
form#generator-form button{
  border-radius:5px;
  border:none;
  box-shadow:2px 2px 2px rgba(0,0,0,0.2);
  padding:1rem;
  font-size:1.2rem;
  background-color:coral;
  color:white;
  
}


#meme-image{
  max-height:400px;
  object-fit:cover;
}

.meme-text {
  z-index:999999;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
  text-transform:uppercase;
  
  font-size:4rem;
}

.meme-bottom-line {
  margin-bottom:-4.2rem;
 

}

.meme-top-line{
  margin-top:-4.2rem;
}